---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
import type { Blog } from "../../types";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post: Blog) => ({
    params: { id: post.data.slug },
    props: post
  }));
}

const { data } = Astro.props;
const { title, image, slug, date, author, avatar, description } = data;

const { Content } = await render(Astro.props)

export const prerender = true;
---

<BaseLayout title={title} description={description}>
  <div class="flex gap-12 max-w-3xl mx-auto mb-20 mt-20">
    <article class="flex flex-col gap-5 max-w-none">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-semibold leading-tight">
        {title}
      </h1>
      <p>Last updated: {new Date(date).toLocaleDateString()}</p>
      <div class="flex items-center flex-wrap gap-3 text-gray-500 mb-6">
        <Image
          src={`/${avatar}`}
          alt="Author profile picture" 
          class="w-8 h-8 rounded-md"
          width="44" 
          height="44"
          decoding="async"
          loading="lazy"
        />
        {author && <span>Written by <a href="https://www.x.com/leandroubilla_" class="underline">{author}</a></span>}
      </div>
      <img
        transition:name={`img-${slug}`}
        src={image} 
        alt={title} 
        class="w-full object-cover rounded-lg aspect-video"
      />
      <Prose>
        <Content />
      </Prose>
    </article>
  </div>
</BaseLayout>