---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';

const blog: CollectionEntry<'blog'>[] = await getCollection('blog');

const pinned = blog
  .filter((post) => post.data.pinned && post.data.published)[0];

const imagePath = `/media/blog/${pinned.id}/${pinned.data.image}`;
---

{pinned && (
  <article class="space-y-6">
    <a 
      class="rounded-xl group"
      href={`/blog/${pinned.id}`}>
      <Image
        src={imagePath}
        alt={pinned.data.title}  
        width="800" 
        height="450"
        decoding="async"
        loading="lazy"
        class="rounded-xl object-cover w-full aspect-video transition-opacity duration-300 group-hover:opacity-70"
      />
      <h2 class="text-2xl md:text-3xl font-semibold leading-tight mt-7 mb-4 text-balance">
        {pinned.data.title}
      </h2>
      <p class="text-lg secondary-text max-w-3xl text-balance text-base-content/70">
        {pinned.data.description}
      </p>

    </a>
  </article>
)}