---
// Icons
import { Tags } from '@lucide/astro';

import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
import type { Blog } from "../../types";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post: Blog) => ({
    params: { id: post.data.slug },
    props: post
  }));
}

const { data } = Astro.props;
const {
  title,
  image,
  slug,
  date,
  author,
  avatar,
  description,
  tags
} = data as Blog["data"];

const { Content } = await render(Astro.props)

export const prerender = true;
---

<BaseLayout title={title} description={description}>
  <div class="flex gap-12 w-full max-w-3xl mx-auto mb-20 mt-20">
    <article class="flex flex-col gap-6 justify-start">
      <h1 class="text-2xl sm:text-4xl md:text-5xl font-semibold text-balance leading-none">
        {title}
      </h1>

      <div class="text-sm flex md:flex-row gap-3 md:items-center flex-col text-gray-700">
        <!-- Author -->
        <div class="text-start flex items-center gap-2 flex-wrap">
          <Image
            src={`/media/authors/${avatar}`}
            alt="Author profile picture"
            class="w-8 h-8 rounded-full"
            width="44"
            height="44"
            decoding="async"
            loading="lazy"
          />
          <span>Written by</span>
          <a 
            href="https://www.x.com/leandroubilla_" 
            class="underline font-semibold" 
            rel="author"
          >
            {author}
          </a>
        </div>

        <!-- Separator -->
        <span class="hidden md:inline-block text-gray-400">|</span>

        <!-- Date -->
        <div class="text-start">
          Last updated 
          <time 
            datetime={new Date(date).toISOString()} 
            class="font-semibold text-gray-800"
          >
            {new Date(date).toLocaleDateString(undefined, {
              year: 'numeric',
              month: 'long',
              day: 'numeric'
            })}
          </time>
        </div>
      </div>

      <img
        transition:name={`img-${slug}`}
        src={`/media/blog/${slug}/${image}`} 
        alt={title} 
        class="w-full aspect-4/3 object-cover rounded-xl mt-3"
      />
      <Prose>
        <Content />
      </Prose>

      <div class="w-full h-[1px] bg-gray-200 my-2.5"></div>

      <div class="flex items-center gap-3 flex-wrap">
        <span class="flex items-center gap-1 text-lg font-medium">
          Tags: <Tags color="#181D27" size="24" />
          <!-- You can't use React icons like <Tags /> here; use an SVG or icon font instead -->
        </span>

        {tags?.map((tag: string) => (
          <span class="bg-gray-200 text-md text-black px-3 py-1 rounded-md">
            {tag}
          </span>
        ))}
      </div>
    </div>
    </article>
  </div>
</BaseLayout>