---
// Astro imports
import { getCollection, type CollectionEntry } from 'astro:content';

// Component imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogItem from '../../components/Blog/BlogItem.astro';
import MainBlogItem from '../../components/Blog/MainBlogItem.astro';

// Constants
const placeholder = '/placeholder.svg';
const title = "Blog - ScriptingPixels";
const description = "Insights, tips, and resources for building better websites with Framer - explore tutorials, design ideas, and the latest trends in no-code and web design.";

// Data
const blog: CollectionEntry<'blog'>[] = await getCollection('blog');

// Get pinned post
const pinnedPost = blog.filter(post => post.data.pinned);

// Get only published posts excluding pinned posts
const publishedPosts = blog
  .filter((post): post is CollectionEntry<'blog'> => !post.data.pinned && post.data.published)
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<BaseLayout {title} {description}>
  <section class="my-20 max-w-3xl mx-auto">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-semibold leading-tight mb-10">
      Insights:<br /> ScriptingPixels Blog
    </h1>

    <div class="">
      <!-- Pinned Post (first post) -->
      {pinnedPost.length > 0 ? (
        <MainBlogItem
          transition={pinnedPost[0].data.slug}
          avatar={pinnedPost[0].data?.avatar || placeholder}
          image={pinnedPost[0].data?.image || placeholder}
          title={pinnedPost[0].data.title}
          description={pinnedPost[0].data.description}
          author={pinnedPost[0].data.author}
          tags={pinnedPost[0].data.tags}
          date={pinnedPost[0].data.date}
          slug={pinnedPost[0].data.slug}
          layout="featured"
        />
      ) : (
        <div class="text-muted-foreground text-center py-6">
          No pinned post
        </div>
      )}
    
      <!-- Sidebar items (next posts) -->
      <div class="space-y-8">
        {publishedPosts.map(({ data }) => (
          <div class="pt-8 border-t border-[#E4E4E4]">
            <BlogItem
              transition={data.slug}
              image={data?.image || placeholder}
              title={data.title}
              description={data.description}
              author={data.author}
              tags={data.tags}
              date={data.date}
              slug={data.slug}
              compact={true} // optional: use prop to display smaller version
            />
          </div>
        ))}
        {blog.length === 0 && (
          <p class="text-center secondary-text text-lg">No blog posts available at the moment.</p>
        )}
      </div>
    </div>
  </section>
</BaseLayout>
