---
const { cover, title, type, price, url, category } = Astro.props;
---

<a data-type={category.slug} href={url === '' ? '#' : url} class="template-card group">
  <div class="overflow-hidden rounded-lg">
    <img
      src={`/framer/${cover}`}
      alt={`${title}`}
      width="376"
      height="320"
      decoding="async"
      loading="lazy"
      class="template-img w-full h-auto transition-transform duration-300 hover:scale-[1.10]"
    />
  </div>
  

  <div class="mt-3 flex items-center justify-between">
    <h3 class="text-lg font-semibold">{title}</h3>
    <span class="text-sm font-semibold bg-green-100 text-green-600 capitalize px-2 py-1.5 rounded-md">
      {type}
    </span>
  </div>

  <div class="text-base font-bold mt-2">
    ${price}
  </div>
</a>

