---
const { cover, title, type, price, linkBuy, category, slug } = Astro.props;

const Wrapper = linkBuy ? 'a' : 'div';
---

<Wrapper
  data-type={category.slug}
  href={`/framer/${slug}`}
  class={`template-card group ${linkBuy && linkBuy.trim() !== '' ? 'cursor-pointer' : ''}`}
>
  <div class="overflow-hidden rounded-lg">
    <img
      src={`/media/framer/${slug}/${cover}`}
      alt={`${title}`}
      width="376"
      height="320"
      decoding="async"
      loading="lazy"
      class="aspect-4/3 object-cover w-full h-auto transition-transform duration-300 hover:scale-[1.10]"
    />
  </div>

  <div class="mt-3 flex items-center justify-between">
    <h3 class="text-lg font-semibold">{title}</h3>
    <span class="text-sm font-semibold bg-green-100 text-green-900 uppercase px-2.5 py-1.5 rounded-md">
      {type}
    </span>
  </div>

  <div class="text-base font-bold mt-2">
    {price > 0 ? '$' + price + ' USD' : 'Free'}
  </div>
</Wrapper>
