---
import { Image } from 'astro:assets';

const {
  image,
  title,
  slug,
  date
} = Astro.props;
---

<a href={`/blog/${slug}`} class="w-full md:w-1/3 shrink-0 overflow-hidden rounded">
  <article class="flex flex-col sm:flex-row gap-4 md:items-center">
    <Image
      transition:name={`img-${slug}`}
      src={`/blog/${image}`}
      alt={`Cover of ${title}`} 
      class="sm:max-w-1/3 w-full mx-auto aspect-4/3 object-cover rounded-xl bg-[#f2f2f2]"
      width="220" 
      height="220"
      decoding="async"
      loading="lazy"
    />

    <div class="space-y-2 w-full">
      <h2 class="text-xl font-semibold leading-snug">
        {title}
      </h2>
      <div class="text-lg font-semibold uppercase text-gray-500">
        {date && <span>{new Date(date).toLocaleDateString()}</span>}
      </div>
    </div>
  </article>
</a>